<app-header></app-header>  
<app-navbarr></app-navbarr>

<div class="page">

        <div class="box2 row">

                <div class="item2">
                    <img src="../../assets/photos/tel.png" class="imgmini" alt="phone">
                    <h2>Nous joindre</h2>
                    <div class="textitem">
                        <p>Pour plus d’infos, contactez-nous au</p>
                        <p>0180432675</p>
                        <p>tous les jours de 9h à 20h</p>
                    </div>
                </div>