<app-header></app-header>  
<app-navbarr></app-navbarr>

<div class="page">

<div class="card-deck billets">
    <div class="card">
      <img class="card-img-top" src="../../assets/photos/1.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Los Angeles</h5>
        <p class="card-text">Une expérience inédite.<br>Le 28 juillet 2019 à Los Angeles</p>
        <button type="button" class="btn btn-warning">Acheter un billet</button>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="../../assets/photos/2.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Paris</h5>
        <p class="card-text">Une expérience inédite.<br>Le 8 octobre 2019 à Paris</p>
        <button type="button" class="btn btn-warning">Acheter un billet</button>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="../../assets/photos/3.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Madrid</h5>
        <p class="card-text">Une expérience inédite.<br>Le 20 décembre 2019 à Madrid</p>              
        <button type="button" class="btn btn-warning">Acheter un billet</button>
      </div>
    </div>
  </div>

  <div class="card-deck billets">
      <div class="card">
        <img class="card-img-top" src="../../assets/photos/4.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Berlin</h5>
          <p class="card-text">Une expérience inédite.<br>Le 4 septembre juillet 2019 à Berlin</p>
          <button type="button" class="btn btn-warning">Acheter un billet</button>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="../../assets/photos/5.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Londres</h5>
          <p class="card-text">Une expérience inédite.<br>Le 21 août 2019 à Londres</p>
          <button type="button" class="btn btn-warning">Acheter un billet</button>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="../../assets/photos/6.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Marrackech</h5>
          <p class="card-text">Une expérience inédite.<br>Le 2 janvier 2020 à Marrackech</p>              
          <button type="button" class="btn btn-warning">Acheter un billet</button>
        </div>
      </div>
      
    </div>