.billets{
    margin-top:5%;
    margin-bottom:5%;
}

.btn{
    margin-left:23%;
    margin-top:3%;
    width:250px;
}

.card-text {
    font-size: 1em;
    text-align: center;
}
h5 {
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
}