<div class="col-lg-3 col-md-12 col-xs-12">
    <a class="d-block mb-4 h-100">
<img src="../../assets/photos/1.png" class="img-responsive">
</a>
</div>

<div class="col-lg-3 col-md-12 col-xs-12">
    <a class="d-block mb-4 h-100">
<img src="../../assets/photos/2.png" class="img-responsive">
</a>
</div>
<div class="col-lg-3 col-md-12 col-xs-12">
    <a class="d-block mb-4 h-100">
<img src="../../assets/photos/3.png" class="img-responsive">
</a>
</div>    
<div class="col-lg-3 col-md-12 col-xs-12">
    <a class="d-block mb-4 h-100">
<img src="../../assets/photos/4.png" class="img-responsive">
</a>
</div>
<div class="col-lg-3 col-md-12 col-xs-12">
    <a class="d-block mb-4 h-100">
<img src="../../assets/photos/5.png" class="img-responsive">
</a>
</div>
<div class="col-lg-3 col-md-12 col-xs-12">
    <a class="d-block mb-4 h-100">
<img src="../../assets/photos/6.png" class="img-responsive">
</a>
</div>
</div>