<app-header></app-header>  
<app-navbarr></app-navbarr>

<div class="page container-fluid row">
    
    <div class="col-lg-3 col-md-12 col-xs-12">
        <a class="d-block mb-4 h-100">
            <img src="../../assets/photos/A.png" class="img-responsive">
        </a>
    </div>
    
    <div class="col-lg-3 col-md-12 col-xs-12">
        <a class="d-block mb-4 h-100">
            <img src="../../assets/photos/B.png" class="img-responsive">
        </a>
    </div>
    
    <div class="col-lg-3 col-md-12 col-xs-12">
        <a class="d-block mb-4 h-100">
            <img src="../../assets/photos/C.png" class="img-responsive">
        </a>
    </div>   
    
    <div class="col-lg-3 col-md-12 col-xs-12">
        <a class="d-block mb-4 h-100">
            <img src="../../assets/photos/D.png" class="img-responsive">
        </a>
    </div>
    
    <div class="col-lg-3 col-md-12 col-xs-12">
        <a class="d-block mb-4 h-100">
            <img src="../../assets/photos/E.png" class="img-responsive">
        </a>
    </div>
    
    <div class="col-lg-3 col-md-12 col-xs-12">
        <a class="d-block mb-4 h-100">
            <img src="../../assets/photos/F.png" class="img-responsive">
        </a>
    </div>
    
    <div class="col-lg-3 col-md-12 col-xs-12">
        <a class="d-block mb-4 h-100">
            <img src="../../assets/photos/G.png" class="img-responsive">
        </a>
    </div>
    
    <div class="col-lg-3 col-md-12 col-xs-12">
        <a class="d-block mb-4 h-100">
            <img src="../../assets/photos/H.png" class="img-responsive">
        </a>
    </div>
    
</div>