<!--video-->

<div class="video">

    <video controls autoplay="true" loop="true">
    <source src="../../assets/photos/alegria.mp4" type="video/mp4">
</video>
</div>

<!--offers-->

    <div class="row pictures justify-content-center">
        <div class="col-2">
            <div class="container ">
                <img src="../../assets/photos/accrobates.jpg " alt="Avatar " class="rounded-circle pic1">
                <div class="overlay ">
                    <div class="text ">Accrobates</div>
                </div>
            </div>
        </div>
        <div class="col-2">
            <div class="container">
                <img src="../../assets/photos/anneaux.jpg " alt="Avatar " class="rounded-circle ">
                <div class="overlay ">
                    <div class="text ">Anneaux</div>
                </div>
            </div>
        </div>

        <div class="col-2">
            <div class="container pic3">
                <img src="../../assets/photos/contorsion.jpg " alt="Avatar" class="rounded-circle" width="180" height="180">
                <div class="overlay">
                    <div class="text">Contorsion</div>
                 </div>
             </div>
         </div>

        <div class="col-2 ">
            <div class="container">
                <img src="../../assets/photos/patins.jpg" alt="Avatar " class="rounded-circle ">
                <div class="overlay ">
                    <div class="text ">Patins</div>
                </div>
            </div>

        </div>
        <div class="col-2 ">
            <div class="container">
                <img src="../../assets/photos/dancer.jpg " alt="Avatar " class="rounded-circle ">
                <div class="overlay ">
                    <div class="text ">Danse</div>
                </div>
            </div>
        </div>
        <div class="col-2 ">
            <div class="container pic6 ">
                <img src="../../assets/photos/magic.jpg " alt="Avatar " class="rounded-circle ">
                <div class="overlay ">
                    <div class="text ">Magie</div>
                </div>
            </div>
        </div>


        <!--billets-->
        <div class="card-deck billets">
            <div class="card">
              <img class="card-img-top" src="../../assets/photos/1.png" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Une expérience inédite.<br>Le 28 juillet 2019 à Los Angeles</p>
                <button type="button" class="btn btn-warning">Acheter un billet</button>
              </div>
            </div>
            <div class="card">
              <img class="card-img-top" src="../../assets/photos/2.png" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Une expérience inédite.<br>Le 8 octobre 2019 à Paris</p>
                <button type="button" class="btn btn-warning">Acheter un billet</button>
              </div>
            </div>
            <div class="card">
              <img class="card-img-top" src="../../assets/photos/3.png" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Une expérience inédite.<br>Le 20 décembre 2019 à Madrid</p>              
                <button type="button" class="btn btn-warning">Acheter un billet</button>
              </div>
            </div>
          </div>